<% @past_url =  request.url %>

<div class="center hero-unit">
  <h1>ONE FORTY</h1>

  <h2>
    Sharing Genius
  </h2>



  <div class = "opening">
  	Those creating the future are too busy to write about it. <br />
  	Those with the greatest thoughts don’t have time to share them. <br />
  	<br />
  	We’re changing that. <br />
  	<br />
  	One hundred and forty words. Once a week. <br />
  	From those on the cutting edge. <br />
  	You provide topic suggestions – they provide the rest. <br />
  	<br />

  	<a href="/users#allTopics">  Suggest topics & Ask experts. </a><br />
  	<a href="/users#writers">  Explore our writers. </a>

  </div>
</div>