<div class="entry">
	<a href="/microposts/<%= micropost.id %><%= @ending %>" class="entry">
	  <div class="entry_title"><%= micropost.title %></div>
	  <div class="entry_author"><%= micropost.author %></div>
	</a>
</div>
