@import "bootstrap";

html,body {
  height: 100%;
  width: 100%;
}

/* ------------- variables -------------- */

$lightGray: #F3F3F3;
$lightBlue: #87CEFA;
$mediumGray: #D8D8D8;
$darkGray: #707070;

/* ------------- mixins, variables, etc. --*/

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* ------------- universal -------------- */

html {
  overflow-y: scroll;
}

body {
  margin: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}



/* ------------- typography -------------- */

html {
  font-family: GillSans;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ------------- Side Nav Bar -------------- */

.nav {
  margin-left: 30px;
}

.logo {
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 10px;
}

a.logo {
	font-family: GillSans;
	font-size: 32px;
	color: $lightGray;
	line-height: 21px;
	text-decoration: none;
	&:hover {
	color: $lightBlue;
	}
}

.entryList {
}

a.entry {
	padding-top: 20px;
  color: $mediumGray;
  &:hover {
    color: $lightBlue;
    text-decoration: none;
  }
}

.entry_title {
  padding-top: 20px;
	font-size: 26px;
	line-height: 26px;
	letter-spacing: 10px;
	text-align: right;
	margin-bottom: 0px;
}

.entry_author {
	font-size: 18px;
	letter-spacing: 4px;
	padding-top: 0px;
	text-align: right;
	text-transform:lowercase;
  padding-bottom: 10px;
  padding-left: 5px;
  border-bottom:thin solid $lightGray;
}


/* ------------ MicroPost ------------- */

.article {
  margin-top: 125px;
}

.author_info{
  text-align: right;
  margin-right: 75px;
  font-size: 18px;
  color: $darkGray;
}

.author_name {
  font-weight: bold;
}

.author_creds {
  
}

.heading {
  margin-top: 50px;
}

.article_title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.article_subtitle {
  font-size: 22px;
  padding-bottom: 15px;
  border-bottom:thin solid $darkGray;
  width: 65%;
}

.content{
  margin-top: 15px;
  margin-right: 70px;
}

.writing {
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
}

.article_timestamp {
  margin-top: 25px; 
  color: $mediumGray;
}


/* ------------- Footer ---------------- */

.footer {
  width:100%;
  height:50px;
  position: absolute;
  bottom:0;
  left:0;
  background-color: black;
}

/* ------------ Users index ------------- */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* ----------- forms -------------*/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* ---------- microposts -------------- */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

/* ----------- miscellaneous ----------*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

