@import "bootstrap";

html,body {
  height: 100%;
  width: 100%;
}

/* ------------- variables -------------- */

$lightBlue: #87CEFA;

$lightGray: #F3F3F3;
$lightishGray: #E5E5E5;
$mediumGray: #D8D8D8;
$darkGray: #707070;

/* ------------- mixins, variables, etc. --*/

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* ------------- universal -------------- */

html {
  overflow-y: scroll;
}

body {
  margin: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}



/* ------------- typography -------------- */

html {
  font-family: GillSans;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.yield {
  margin-top: 45px;
  height: 552px;
  overflow: auto;
}

.hero-unit {
  background-color: white;
}

/* ------------- Side Nav Bar -------------- */

.nav {
  margin-left: 30px;
  margin-bottom: 0px;
}

.logo {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 10px;
}

a.logo {
	font-family: GillSans;
	font-size: 32px;
	color: $lightGray;
	line-height: 21px;
	text-decoration: none;
	&:hover {
	color: $lightBlue;
	}  
}

#postswrapper {
}

a.entry {
	padding-top: 20px;
  color: $mediumGray;
  &:hover {
    color: $lightBlue;
    text-decoration: none;
  }
}

.entry_title {
  padding-top: 20px;
	font-size: 26px;
	line-height: 26px;
	letter-spacing: 10px;
	text-align: right;
	margin-bottom: 0px;
}

.entry_author {
	font-size: 18px;
	letter-spacing: 4px;
	padding-top: 0px;
	text-align: right;
	text-transform:lowercase;
  padding-bottom: 10px;
  padding-left: 5px;
  border-bottom:thin solid $lightGray;
}


/* ------------ MicroPost ------------- */

.article {
  height: 552px;
  overflow: auto;
}

.author_info{
  text-align: right;
  margin-right: 75px;
  font-size: 18px;
  color: $darkGray;
}

.author_name {
  font-weight: bold;
}

.author_creds {
  
}

.heading {
  margin-top: 50px;
}

.article_title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.article_subtitle {
  font-size: 22px;
  padding-bottom: 15px;
  border-bottom:thin solid $darkGray;
  width: 65%;
}

.content{
  margin-top: 15px;
  margin-right: 70px;
}

.writing {
  font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
  width: 100%;
  overflow: auto;
}

.article_timestamp {
  margin-top: 25px; 
  color: $mediumGray;
}


/* ------------- Footer ---------------- */

.footer {
  width:100%;
  height:50px;
  position: absolute;
  bottom:0;
  left:0;
  text-align: right;
  color: $lightGray;
}

.footer{
  a{
    color: $mediumGray;
    margin-right: 30px;
  &:hover {
    color: $lightBlue;
    text-decoration: none;
  }
  }
}

.signin {
  margin-right: 30px;
}

/* ------------ Profile Page ------------ */

.profile {
  margin-left: 20px;
  .name {
    font-size: 1em;
    letter-spacing: -2px;
    margin-bottom: 0px;
    margin-top: 30px;
    padding-bottom: 0px;
  }
  .creds {
    margin-bottom: 50px;
    margin-top: -20px;
    padding-top: 0px;
    font-weight: normal;
  }
  .edit {
    margin-top: -30px;
    margin-bottom: -40px;
  }

  .listings {
    .heading {
      font-size: 1.2em;
      padding-top: 20px;
      padding-bottom: 15px;
      font-style:italic;
      color: $mediumGray;
    }
    .post {
      padding-bottom: 5px;
      padding-top: 25px;
      border-top:thin solid $lightGray;
      width: 70%;
      a.profile_post {
        color: $darkGray;
        .title {
          font-size: 1.5em;
          font-weight: bold;
          margin-bottom: 2px;
          margin-left: 10px;
        }
        .subtitle {
          font-size: 1.2em;
          margin-left: 10px;
        }
        &:hover {
          color: $lightBlue !important;
          text-decoration: none;
        }
        .date {
          text-align: right;
          font-size: 0.8em;
          color: $mediumGray;
          margin-right: 5px;
        }
      }
    }
  }
}


/* ------------ Users index ------------- */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.authors {
  a {
    color: $darkGray;
    .name{
      font-weight: bold;
    }
    .creds {
    }
    &:hover {
      color: $lightBlue !important;
      text-decoration: none;
    }
  }
}


/* ----------- forms -------------*/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* ---------- microposts -------------- */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}




/* ----------- miscellaneous ----------*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* ----------- pagination ------------*/

.pagination{
  margin-top: 10px;
  text-align: right;
  font-size: 16px;
  color: $mediumGray;
}
.pagination a{
  text-decoration:none;
  color: $lightishGray;
}
.pagination a:hover,.pagination a:active{
  border:none;
  color: $lightBlue; 
  text-decoration: none;
}
.pagination span.current{
  font-weight:bold;
  color:#FFF;
}
.pagination span.disabled{
  color: $lightGray;
}

